/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and HTML Setup */
html, body {
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* Normal weight */
}

/* Header */
header {
    width: 100%;
    height: 130px; /* Updated header height */
    background-color: #505050; /* Gray background */
    color: white;
    position: fixed; /* Fixed at the top of the screen */
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 50px; /* Optional: adds some padding on the left and right */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-size: 1.2rem;
}

/* Align header-text to the left */
header .header-text {
    position: absolute; /* Absolutely position the text */
    top: 30px; /* Adjust to be below the title */
    left: 50px; /* Center horizontally */
    font-size: clamp(2.5vw, 3vw, 3vw);
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* Font weight */
    color: white;

}

.subtitle {
    position: absolute; /* Absolutely position the text */
    top: 100px; /* Adjust to be below the title */
    left: 60px; /* Center horizontally */
    color: white; /* Text color */
    font-size: clamp(0.5vw, 0.8vw, 0.8vw);
    font-family: 'Roboto', sans-serif;
    text-transform: none; /* Make text appear in capital letters */
    font-weight:300; /* Make text bold */
}


/* Map Section */
#map {
    width: 100%;
    height: calc(100vh - 130px - 80px); /* Adjusted for 100px header */
    margin-top: 130px;
}


.leaflet-popup-content {
    width: 600px !important; /* Set your desired width */
    max-width: 100%; /* Ensure it doesn't exceed the viewport */
    box-sizing: border-box; /* Include padding in width calculation */
}

.popup-content {
    display: flex;
    flex-direction: column; /* Stack h3 and info vertically */
    padding: 10px; /* Add some padding */
    border: 1px solid #ccc; /* Optional: Add a border */
    border-radius: 5px; /* Optional: Round the corners */
    background-color: #fff; /* Optional: Background color */
}

.popup-info-container {
    display: flex; /* Use Flexbox for info and image */
    justify-content: space-between; /* Space between info and image */
    align-items: flex-start; /* Align items to the top */
    margin-top: 10px; /* Space between title and container */
}

.popup-info {
    display: flex; /* Use Flexbox for the info section */
    flex-direction: column; /* Stack info items vertically */
}

.popup-image {
    max-width: 200px;  /* Set a max width for the image */
    max-height: 150px; /* Set a max height to limit the vertical size */
    width: auto;       /* Allow width to scale */
    height: auto;      /* Maintain aspect ratio */
    display: block;    /* Ensure the image is block-level to prevent text wrapping */
    margin: 0 auto;    /* Center the image horizontally */
}

/* Optional: Add some margin to the h3 for spacing */
.popup-content h3 {
    margin-bottom: 5px; /* Space between title and info */
}

.legend {
    background: white;
    padding: 8px;
    border-radius: 5px;
    line-height: 18px;
    font-size: 14px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend h4 {
    margin: 0 0 5px;
    font-size: 16px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border-radius: 3px;
}


/* Footer */
footer {
    background-color: #505050; /* Gray background to match header */
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
    color: white;
    padding: 10px 30px; /* Adjust padding as needed */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 80px; /* Adjusted footer height */
}


/* Footer Text */
footer .footer-text {
    text-align: left; /* Align the text to the left */
    font-family: 'Roboto', sans-serif;
    margin-left: clamp(1vw, 3vw, 3vw); /* Add space from the left edge of the footer */
    font-size: clamp(0.7vw, 1vw, 1vw); /* Adjust font size as needed */
    margin-right: clamp(1vw, 7vw, 7vw); /* Add margin to create space between text and logos */
}


footer .logos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: clamp(1vw, 7vw, 7vw);
    width: 100%;
}

footer .logo {
    max-height: 2.5vw;
    max-height: clamp(1vw, 3vw, 3vw);
    height: auto;
    width: auto;
}

.contact-info {
    font-size: clamp(0.5vw, 0.5vw, 0.5vw);
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    font-weight: 300;
}